{% extends 'layouts/base_layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/styles/account.css" />
{%endblock%}

{%block body%}
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active profilelink">{{_('Profile')}}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#articles" data-toggle="tab" class="nav-link profilelink">{{_('My Articles')}}</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link profilelink">{{_('Edit')}}</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{_('Welcome')}} <h1 class="display-4">{{user.username}}</h1>
                    </h5>
                    <footer class="blockquote-footer mb-2">Email: {{user.email}}</footer>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>{{_('About')}}</h6>
                            <p>
                                Sviluppo Web, Finanza, Imprenditorialità
                            </p>
                            <h6>{{_('Hobbies')}}</h6>
                            <p>
                                Donec quis ex erat. Donec at orci et ligula consectetur varius. Integer ac facilisis
                                orci. Integer turpis ligula, posuere at scelerisque eu. Donec at orci et ligula
                                consectetur varius. Integer ac facilisis
                                orci. Integer turpis ligula, posuere at scelerisque eu.
                            </p>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="articles">
                    <table class="table table-hover table-striped">
                        <tbody>
                            </tr>
                            <th>{{_('Title')}}</th>
                            <th>{{_('Date')}}</th>
                            <th></th>
                            <th></th>
                            </tr>
                            {%for article in articles%}
                            <tr>
                                <td><a href="article/{{ article.id}}">{{article.title}}</a></td>
                                <td>{{article.create_date.strftime("%m/%d/%Y %H:%M:%S")}}</td>
                                <td><a href="edit_article/{{article.id}}" class="btn btn-warning pull-right">{{_('Edit')}}</a>
                                </td>
                                <td>
                                    <form action="{{url_for('articlesblueprint.delete_article', id = article.id)}}"
                                        method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="{{_('Delete')}}" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                {{form.email(class_="form-control")}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                {{form.username(class_="form-control")}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Avatar</label>
                            <div class="col-lg-9">
                                {{form.picture(class="form-control-file")}}
                                {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-9">
                                {{form.submit(class_="btn btn-primary")}}
                                {{ form.hidden_tag() }}
                                <!--Risolve il problema con il CSRF token-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="{{user.image_file}}" class="mx-auto img-fluid rounded-circle d-block" alt="avatar" id="avatarpicture">
            <a href="/add_article" class="btn btn-success by-3">{{_('Add Article')}}</a><br>
        </div>
        <hr>
    </div>
</div>


{%endblock%}