{% extends 'layouts/base_layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/styles/home.css" />
<script
  type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

{%endblock%}

{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <img class="img-fluid justify-content-center hidden-lg-down "
    src="http://pluspng.com/img-png/feather-pen-png-black-and-white-size-512.png" height="130" width="130" alt="LOGO" />
  <h1 class="display-1 text-center main-text">{{_('Welcome to Articlee')}}</h1>
  <blockquote class="blockquote text-center mb-0">
    <p class="mb-0">
      <i class="fa fa-quote-left fa-xs pr-2"></i>{{_('I do not agree with what you
      have to say, but I’ll defend to the death your right to say it.')}}<i class="fas fa-quote-right fa-xs pl-2"></i>
    </p>
    <p class="blockquote-footer text-center mb-0">
      <cite title="Source Title">Voltaire</cite>
    </p>
  </blockquote>
</div>
<div class="container mt-1 mb-2">
  <hr class="mb-4 mt-1" />

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Indicators-->
    <!-- <ol class="carousel-indicators">
      <li
        data-target="#multi-item-example"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol> -->
    <!--/.Indicators-->

    <!--Slides-->
    {% if latest_articles %}
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          {% for article in latest_articles[0:3] %}
          <div class="col-sm clearfix">
            <div class="card mb-2">
              <div class="card-body d-flex flex-column" style="height: 27.5em;">
                <a href="/article/{{article.id}}">
                  <h4 class="card-title">{{_(article.title)}}</h4>
                </a>
                <p class="card-text" style="text-align: justify">
                  {{_(article.body)}}
                </p>
                <a class="mt-auto btn btn-dark text-white" href="/article/{{article.id}}">{{_('READ')}}</a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
      <!--/.First slide-->
      <!--Second slide-->
      {% if latest_articles|length > 3 %}
      <div class="carousel-item">
        <div class="row">
          {% for article in latest_articles[3:] %}
          <div class="col-sm clearfix">
            <div class="card mb-2">
              <div class="card-body d-flex flex-column" style="height: 27.5em;">
                <a href="/article/{{article.id}}">
                  <h4 class="card-title">{{_(article.title)}}</h4>
                </a>
                <p class="card-text" style="text-align: justify">
                  {{_(article.body)}}
                </p>
                <a class="mt-auto btn btn-dark text-white" href="/article/{{article.id}}">{{_('READ')}}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <!--/.Second slide-->
  </div>
  {% endif %}
  <!--/.Carousel Wrapper-->
</div>

<footer class="text-center d-none d-xl-block" id="home-footer">
  <!-- Facebook -->
  <a class="fb-ic">
    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3"> </i>
  </a>
  <!-- Twitter -->
  <a class="tw-ic">
    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3"> </i>
  </a>
  <!-- Google +-->
  <a class="gplus-ic">
    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3"> </i>
  </a>
  <!--Linkedin -->
  <a class="li-ic">
    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3"> </i>
  </a>
  <!--Instagram-->
  <a class="ins-ic">
    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3"> </i>
  </a>
  <!--Pinterest-->
  <a class="pin-ic">
    <i class="fab fa-pinterest fa-lg white-text"> </i>
  </a>
  <!-- Copyright -->
  <p class="font-italic text-muted mb-0">&copy; Alessio Amatucci &amp; Daniele Mingolla All rights reserved.</p>
  <!-- Copyright -->
</footer>


{%endblock%}

{%block script%}
<script src="../../static/scripts/main.js"></script>
{%endblock%}