{% extends 'layouts/base_layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/styles/thanks.css" />
{%endblock%}

{% block body %}
<div class="jumbotron text-center my-4">
    <h1 class="display-4">{{_('YOU\'VE BOUGHT')}}<br> <u>{{product.name}}</u><br> {{_('FOR JUST')}} {{product.price}}0€ !</h1>
    <p class="lead">{{_('We\'ve received your order, you\'ll receive an email with further details.')}}</p>
    <figure class="figure">
        <img src="{{product.image_file}}" class="figure-img img-fluid rounded" alt="Picture {{product.id}}">
        <figcaption class="figure-caption">{{product.name}}</figcaption>
    </figure>
    <hr class="my-4">
    <p>{{_('Leave a review, it will help us to improve!')}}</p>
    <p class="lead">
        <a class="btn btn-outline-dark" href="/shop" role="button">{{_('GO TO THE OFFICIAL SHOP')}}</a>
    </p>
</div>
{%endblock%}