body {
  background: url("http://static.hdw.eweb4.com/media/wallpapers_dl/1/67/667476-writer.jpg");
  background-size: cover;
}

/*NAVBAR*/

.navbar {
  font-size: 20px !important;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.4) !important;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none !important;
}

/*PROFILE SECTION*/

.display-4 {
  font-size: 3rem !important;
}

.profilelink {
  color: black;
  font-size: 15px;
}

#avatarpicture {
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}

td a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(255, 252, 252, 0.733);
}

.btn {
  border-radius: 20px;
  width: 75px;
}

.dlt-button:hover {
  color: red;
}